/************************* REPORT *************************/

/************************* main *************************/
/************************* main > global section *************************/
#report-global-section {
    /* position: relative; */
    display: flex;
    text-align: justify;
    color: rgb(255, 255, 255, .9);
}

#container-html-css-code-report {
    display: flex;
    flex-wrap: wrap;
}

/* Report - articles */
.report-articles-content {
    padding: 0% 3%;
}

.report-articles-content>h3 {
    padding: 8% 0% 2% 0%;
}

.report-articles-content p {
    padding: 1% 0%;
}

/* general images */
#report-global-section img {
    padding: 1%;
    margin: 0% 2% 2% 0%;
    border: #696969 solid 1px;
}

/* general textarea */
.report-text-area {
    width: 100%;
    height: 300px;
    margin-bottom: 2%;
    padding: 1%;
    background-color: rgb(0, 0, 0, .2);
    border: #696969 solid 1px;
    color: rgb(255, 255, 255, .7);
    white-space: pre;
    outline: none;
}

/* code container */
.container-html-css-code-report input[type=radio] {
    width: 15%;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert();
    appearance: none;
    cursor: pointer;
    z-index: -1;
}

.html-code-report {
    background-image: url('../icons/html-icon.png');
}

.html-code-report:hover {
    background-color: rgb(139, 139, 139) !important;
}

.html-code-report:checked {
    background-color: rgb(0, 0, 0, .2);
    filter: invert();
}

.css-code-report {
    background-image: url('../icons/css-icon.png');
}

.css-code-report:hover {
    background-color: rgb(139, 139, 139) !important;
}

.css-code-report:checked {
    background-color: rgb(192, 191, 191);
    filter: invert();
}

.js-code-report {
    background-image: url('../icons/js.png');
}

.js-code-report:hover {
    background-color: rgb(139, 139, 139) !important;
}

.js-code-report:checked {
    background-color: rgb(192, 191, 191);
    filter: invert();
}

.container-html-css-code-report textarea {
    display: none;
    width: 100%;
    height: 300px;
    margin-bottom: 2%;
    padding: 1%;
    background-color: rgb(0, 0, 0, .2);
    border: #696969 solid 1px;
    color: rgb(255, 255, 255, .7);
    white-space: pre;
    outline: none;
}

.links-a {
    color: #00F8FF;
}

/************************* main > main screen *************************/
dialog {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: black;
    border: none;
    text-align: center;
    color: white;
    z-index: 10;
}

dialog button {
    background-image: url('../icons/door-close-icon.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: white;
    filter: invert();
    width: 100px;
    height: 100px;
    margin-top: 10%;
    padding: 1%;
    border-radius: 20%;
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
    transition: all ease .1s;
}

dialog button:hover {
    background-image: url('../icons/door-open-icon.png');
    transform: scale(1.2);
}

dialog>* {
    margin: 3% 0%;
}

/************************* main > content *************************/
#repor-content-main-section {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(200px, 17vw);
    height: 100vh;
    background-color: rgb(0, 0, 0, .9);
    color: white;
    z-index: 10;
}

#repor-content-main-section>ul li {
    display: flex;
}

#report-main-submenu {
    display: flex;
    flex-direction: column;
}

#report-main-submenu li{
    padding-left: 10%;
}

#repor-content-main-section>ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#repor-content-main-section>ul li::marker {
    content: '';
}

#repor-content-main-section>h3 {
    text-align: center;
}

#repor-content-main-section>* {
    margin: 10% 0%;
}

#repor-content-main-section a {
    width: 100%;
    padding: 2% 8%;
    text-decoration: none;
    color: #FFFFFF;
}

/************************* main > document - report-main-section-html *************************/
#report-main-section-html {
    width: 100%;
    padding: 5% 3% 3% 17%;
    background-color: rgb(0, 0, 0, .9);
}

#report-presentation {
    text-align: center;
}
#report-presentation>* {
    padding: 1% 0%;
}

/************************* main > document - Introduction *************************/

/************************* main > document - Launch the site *************************/
#report-launch-site>ul>li {
    list-style: symbols(cyclic '\265E') inside;
}

#report-launch-site>ul>li>ul>li {
    list-style: symbols(cyclic '\265F') inside;
    padding-left: 10px;
}
/************************* main > document - structure *************************/
#general-structure {
    float: left;
}

#report-structure>ul li {
    list-style: symbols(cyclic '\265E') inside;
}

#report-structure>h4 {
    clear: both;
}

#inkscape-design {
    float: left;
    width: 50%;
}

#container-color-design-report {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3%;
    /* clear: both; */
}

#container-color-design-report p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

#container-color-design-report p:first-child {
    background-color: #8600FF;
}

#container-color-design-report p:nth-child(2) {
    background-color: #79FF00;
    color: #000000;
}

#container-color-design-report p:nth-child(3) {
    background-color: #FF0700;
}

#container-color-design-report p:nth-child(4) {
    background-color: #00F8FF;
    color: #000000;
}

#container-color-design-report p:nth-child(5) {
    background-color: #000000;
}

#container-color-design-report p:last-child {
    background-color: #FFFFFF;
    color: #000000;
}

/************************* main > document - header *************************/

/* HTML */
.html-code-report:checked ~ #html-code-header-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-header-textarea-report {
    display: block !important;
}

/************************* main > document - steps *************************/
#report-steps-img {
    float: left;
    width: 15%;
}

#report-steps>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-steps-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-steps-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-steps-textarea-report {
    display: block !important;
}

/************************* main > document - steps 1 welcome *************************/
#report-step-1-img {
    float: left;
    width: 50%;
}

/************************* main > document - steps 2.1 travellers *************************/
#report-step-2 {
    clear: both;
}

#report-step-2-1-img {
    float: left;
    width: 50%;
}

#report-step-2>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-step-2-1-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-step-2-1-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-step-2-1-textarea-report {
    display: block !important;
}

/************************* main > document - steps 2.2 personal information *************************/
#report-step-2-2 {
    clear: both;
}

#report-step-2-2-img {
    float: left;
    width: 50%;
}

#report-step-2-2>p:nth-child(5) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-step-2-2-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-step-2-2-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-step-2-2-textarea-report {
    display: block !important;
}

/************************* main > document - steps 2.3 travel preferences *************************/
#report-step-2-3 {
    clear: both;
}

#report-step-2-3-img {
    float: left;
    width: 50%;
}

#report-step-2-3>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-step-2-3-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-step-2-3-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-step-2-3-textarea-report {
    display: block !important;
}

/************************* main > document - steps 3 preference accommodation *************************/
#report-step-3 {
    clear: both;
}

#report-step-3-img {
    float: left;
    width: 50%;
}

#report-step-3>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-step-3-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-step-3-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-step-3-textarea-report {
    display: block !important;
}

/************************* main > document - steps 4 preference transportation *************************/
#report-step-4 {
    clear: both;
}

#report-step-4-img {
    float: left;
    width: 50%;
}

#report-step-4>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-step-4-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-step-4-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-step-4-textarea-report {
    display: block !important;
}

/************************* main > document - steps 5 preference environment *************************/
#report-step-5 {
    clear: both;
}

#report-step-5-img {
    float: left;
    width: 50%;
}

#report-step-5>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-step-5-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-step-5-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-step-5-textarea-report {
    display: block !important;
}

/************************* main > document - steps 6 preference destination *************************/
#report-step-6 {
    clear: both;
}

#report-step-6-img {
    float: left;
    width: 50%;
}

#report-step-6>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-step-6-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-step-6-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-step-6-textarea-report {
    display: block !important;
}

/************************* main > document - steps 7 tickets *************************/
#report-step-7 {
    clear: both;
}

#report-step-7-img {
    float: left;
    width: 50%;
}

#report-step-7>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-step-7-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-step-7-textarea-report {
    display: block !important;
}

/* JS */
.js-code-report:checked ~ #js-code-step-7-textarea-report {
    display: block !important;
}

/************************* main > document - summary *************************/
#report-summary {
    clear: both;
}

#report-summary-img {
    float: left;
    width: 20%;
}

#report-summary>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-summary-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-summary-textarea-report {
    display: block !important;
}

/************************* main > document - footer *************************/
#report-footer {
    clear: both;
}

#report-footer-img {
    float: left;
    width: 60%;
}

#report-footer>p:nth-child(4) {
    clear: both;
}

/* HTML */
.html-code-report:checked ~ #html-code-footer-textarea-report {
    display: block !important;
}

/* CSS */
.css-code-report:checked ~ #css-code-footer-textarea-report {
    display: block !important;
}













/************************* @media *************************/
/************************* @media *************************/
@media screen and (max-width:768px){

    /************************* @media > content *************************/
    #repor-content-main-section {
        width: min(200px, 30vw);
        transform: translateX(-100%);
        transition: transform ease .2s;
    }
    #repor-content-main-section>ul a {
        font-size: .8em;
    }

    #repor-content-main-section::after {
        content: "\25EC";
        position: absolute;
        top: 50%;
        left: 100%;
        font-size: 3em;
        text-shadow: 0px 0px 20px;
        cursor: pointer;
        transform: rotate(90deg) translateX(-50%);
        transition: all ease .2s;
    }

    #repor-content-main-section:hover {
        transform: translateX(0%);
    }

    #repor-content-main-section:hover::after {
        font-size: 7em;
        transform: rotate(90deg) translateX(-50%);
    }

    /************************* main > document - report-main-section-html *************************/
    #report-main-section-html {
        padding-left: 9%;
    }
}