header {
    background-color: rgb(134, 0, 255, .05);
    padding: 1%;
    border-bottom: 1px solid #ccc;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#container-globe-ani {
    position: relative;
}

#container-globe-ani>img {
    width: min(150px, 20vw);
}


#transport-animation-on-logo {
    visibility: hidden;
    width: min(30px, 8vw);
    height: min(30px, 8vw);
    position: absolute;
    background-image: url('../icons/plane.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    left: 0px;
}

header h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: min(3rem, 6vw);
    font-weight: bolder;
    text-align: center;
    text-shadow: 3px 4px 5px #000000FF;
    -webkit-text-stroke: min(4px, .5vw);
}

/* ************************* button report ************************* */
#report {
    position: absolute;
    top: 50%;
    right: 0px;
    height: 100%;
    background-color: yellow;
    border: none;
    padding: 1% 20px;
    font-size: min(1.1rem, 4vw);
    font-weight: bolder;
    color: black;
    cursor: pointer;
    box-shadow: -1px 1px 4px #000000;
    transform: translateY(-50%);
    transition: all ease .3s;
    z-index: 10;
}

#report:hover {
    background-color: #000000;
    color: white;
    transform-origin: center;
    transform: translateY(-50%) scaleX(1.5);
    z-index: 1;
}

#report>i {
    position: absolute;
    left: 0px;
    right: 0px;
    transform-origin: center;
    transform: rotateZ(-90deg);
}